@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../js/**/*.vue';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../js/**/*.vue';

@theme {
    /* Hanken Grotesk */
    --font-sans:
        "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Poppins */
    --font-poppins: "Poppins", sans-serif;

    /* Color Palette */
    --color-primary-50: #FFCB30;
    --color-primary-40: #FFD65A;
    --color-primary-30: #FFE083;
    --color-primary-20: #FFEAAC;
    --color-primary-10: #FFF3CD;
    --color-primary-60: #FFC107;
    --color-primary-70: #D4A106;
    --color-primary-80: #AA8105;
    --color-primary-90: #806104;
    --color-primary-100: #554002;
    --color-secondary-50: #3A4655;
    --color-secondary-40: #626B77;
    --color-secondary-30: #899099;
    --color-secondary-20: #B0B5BB;
    --color-secondary-10: #D0D3D6;
    --color-secondary-60: #132133;
    --color-secondary-70: #101C2B;
    --color-secondary-80: #0D1622;
    --color-secondary-90: #0A111A;
    --color-secondary-100: #060B11;
    --color-neutral-50: #808080;
    --color-neutral-40: #AAAAAA;
    --color-neutral-30: #CCCCCC;
    --color-neutral-20: #D5D5D5;
    --color-neutral-10: #FFFFFF;
    --color-neutral-60: #555555;
    --color-neutral-70: #555555;
    --color-neutral-80: #333333;
    --color-neutral-90: #2B2B2B;
    --color-neutral-100: #000000;
}